<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="about"> About </a>
        <a class="nav-item nav-link" routerLink="participants"> Participants </a>
      </div>
    </div>
  </nav>
</header>
<router-outlet>
</router-outlet>
