<div class="container">
  <h2>Create a new participant</h2>
  <form [formGroup]="personForm" (ngSubmit)="submitForm()">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name: </span>
      </div>
      <input formControlName="name" class="form-control" type="text">
    </div>
    <div *ngIf="personForm.get('name').touched">
      <div *ngIf="personForm.get('name').hasError('required')"
           class="alert-danger alert">
        Name field is required
      </div>
      <div *ngIf="personForm.get('name').hasError('minlength') || personForm.get('name').hasError('maxlength')"
           class="alert-danger alert">
        Name field must be between 3-20
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">pid: </span>
      </div>
      <input formControlName="pid" class="form-control" type="number" >
    </div>
    <div *ngIf="personForm.get('pid').touched">
    <div *ngIf="personForm.get('pid').hasError('required')"
         class="alert-danger alert">
      pid is required
    </div>
      <div *ngIf="personForm.get('pid').hasError('min') || personForm.get('pid').hasError('max')"
           class="alert-danger alert">
        Pid must be 7 digits long
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Surname: </span>
      </div>
      <input formControlName="surname" class="form-control"  type="text">
    </div>
    <div *ngIf="personForm.get('surname').touched">
    <div *ngIf="personForm.get('surname').hasError('required')"
         class="alert-danger alert">
      Surname field is required
    </div>
      <div *ngIf="personForm.get('surname').hasError('minlength') || personForm.get('surname').hasError('maxlength')"
           class="alert-danger alert">
        Surname field must be between 3-20
      </div>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email: </span>
      </div>
      <input formControlName="email" class="form-control" type="email">
    </div>
    <div *ngIf="personForm.get('email').touched">
    <div *ngIf="personForm.get('email').hasError('email')"
         class="alert-danger alert">
      Email field is incorrect
    </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Middle name: </span>
      </div>
      <input formControlName="middleName" class="form-control" type="text">
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Phone number: </span>
      </div>
      <input formControlName="phone" class="form-control" type="number">
    </div>


<button type="submit" class="btn-dark" [disabled]="!personForm.valid">Create participant</button>
  </form>
</div>
