<td>{{person.pid}}</td>
<td>{{person.name}}</td>
<td>{{person.middleName}}</td>
<td>{{person.surname}}</td>
<td>{{person.phone}} {{person.email}}</td>
<td>{{person.groups}}</td>
<td>
  <button class="btn btn-danger"(click)=removePerson()>Delete Person</button>
</td>
