<h2> List of participants:</h2>

<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">pId</th>
      <th scope="col">Name</th>
      <th scope="col">Middle name</th>
      <th scope="col">Surname</th>
      <th scope="col">Contacts</th>
      <th scope="col">Groups</th>
      <th>
        <button routerLink="new" class="btn btn-success">Create Person</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr app-person-details [person]='element' (click)="removePerson($event)" *ngFor="let element of personsList" [ngStyle]="{'color': element.groups != null && element.groups.length != 0 ? 'green' : 'red'}">
    </tr>
    </tbody>
  </table>

  <form>

  </form>
</div>

